<div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 m-6">
    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
      <div class="text-gray-600">
        <p class="font-medium text-lg">Car Details</p>
        <p>Please fill out all the fields.</p>
      </div>
      <form [formGroup]="this.CarForm" class="lg:col-span-2" (submit)="HandleAddCar()">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
          <div class="md:col-span-5">
            <label for="full_name">Car Model</label>
            <input formControlName="carModel" type="text" name="carModel" id="car" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
          </div>
          <div class="md:col-span-5">
            <label for="brand">Brand</label>
            <select formControlName="brand" name="brandId" id="brand" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
              <option value="" >Select a Brand</option>
              <option *ngFor="let brand of brandList" [value]="brand.id">{{ brand.brandName }}</option>
            </select>
          </div>
          
          <div class="md:col-span-5">
            <label for="price">Price</label>
            <input formControlName="price" type="number" name="price" id="price" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
          </div>

          <div class="md:col-span-5">
            <label for="car_body">Car Body</label>
            <select formControlName="body" name="car_body" id="car_body" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Select Car Body</option>
                <option value="SEDAN">Sedan</option>
                <option value="COUPE">Coupe</option>
                <option value="HATCHBACK">Hatchback</option>
                <option value="SUV">SUV</option>
            </select>
        </div>

        <div class="md:col-span-5">
            <label for="doors_number">Doors Number</label>
            <select formControlName="doors" name="doors_number" id="doors_number" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Select Doors Number</option>
                <option value="2">2</option>
                <option value="4">4</option>
            </select>
        </div>

        <div class="md:col-span-5">
            <label for="fuel_type">Fuel Type</label>
            <select formControlName="fuel" name="fuel_type" id="fuel_type" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Select Fuel Type</option>
                <option value="GASOLINE">GASOLINE</option>
                <option value="DIESEL">DIESEL</option>
            </select>
        </div>

        <div class="md:col-span-5">
            <label for="transmission_type">Transmission Type</label>
            <select formControlName="transmission" name="transmission_type" id="transmission_type" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Select Transmission Type</option>
                <option value="MANUAL">MANUAL</option>
                <option value="AUTOMATIQUE">AUTOMATIQUE</option>
            </select>
        </div>

        <div class="md:col-span-5">
          <label for="message" class="formbold-form-label">Upload Car Image</label>

          <div class="flex items-center justify-center w-full" *ngIf="this.attachment==undefined">
            <label for="dropzone-file"
              class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                    upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400"> PNG, JPG or PDF (MAX. 800x400px)</p>
              </div>
              <input id="dropzone-file" (change)="onFileSelected($event)" type="file" class="hidden" />
            </label>
          </div>
          <div class="flex items-center justify-between w-full" *ngIf="this.attachment!=undefined">
            <div>
              Your uploaded file <br>
              <i class="fa fa-file size-10 m-5" aria-hidden="true"></i> {{this.attachment.name}}
            </div>
            <button (click)="this.attachment=undefined" class="">Remove</button>
          </div>

        </div>
        
          
        <div class="md:col-span-5">
            <label for="availability">Available</label>
            <div class="flex items-center space-x-2">
                <input formControlName="availability" type="radio" id="available" name="availability" value="true" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                <label for="available" class="text-sm font-medium text-gray-900">Yes</label>
                <input formControlName="availability" type="radio" id="unavailable" name="availability" value="false" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                <label for="unavailable" class="text-sm font-medium text-gray-900">No</label>
            </div>
        </div>
        
     
          <div class="md:col-span-5 text-right">
            <div class="inline-flex items-end">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
            </div>
          </div>

        
        </div>

        
    </form>
    </div>
  </div>