<div class="relative flex flex-wrap items-center m-5 justify-between w-full bg-white group shrink-0">
    <div class="flex align-items-center">
        <img src="\assets\images\Logo\Logo3.png" alt="" style="width: 200px; height: auto;">
    </div>
    
    <div class="items-center justify-between hidden gap-12 text-black md:flex">
        <a *ngFor="let navItem of navLinks" [routerLink]="navItem.path" routerLinkActive="router-link-active"  class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" >{{navItem.name}}</a>
        <a *ngIf="this.appstate.AuthState.role=='ADMIN' ||this.appstate.AuthState.role=='STORE_OWNER' " [routerLink]="['dashboard']" routerLinkActive="router-link-active"  class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" >Dashboard</a>
    </div>

    <div>
      <div class="flex -space-x-2  overflow-hidden" *ngIf="this.appstate.AuthState.isAuthenticated">
        <div class="flex items-center space-between">
          <div class="flex items-center ml-10">
            <span class="m-4">Welcome {{ this.appstate.AuthState.userId }}!</span>
          <div [routerLink]="['/profile']" class="h-10 w-10 hover:ring-4 user cursor-pointer relative ring-blue-700/30 rounded-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80')]">    
        </div>
        
        </div>
          <button
          (click)="HandleLogout()"
          class="text-sm ml-10 font-semibold leading-6 text-gray-900"
        >
          Logout
          </button>
        </div>
        
      </div>
    </div>
    
    <div *ngIf="this.appstate.AuthState.isAuthenticated==false" class="items-center hidden gap-8 md:flex">
        <button [routerLink]="['/login']" routerLinkActive="router-link-active"   class="flex items-center text-sm font-normal text-black">Log In</button>
        <button  [routerLink]="['/register']" routerLinkActive="router-link-active"  class="flex items-center px-4 py-2 text-sm font-bold rounded-xl bg-purple-blue-100 text-purple-blue-600 hover:bg-purple-blue-600 hover:text-white transition duration-300">Sign Up</button> 
    </div>
    

</div>