<div class="relative flex flex-wrap items-center m-5 justify-between w-full bg-white group shrink-0">
    <div class="flex align-items-center">
        <img src="\assets\images\Logo\Logo3.png" alt="" style="width: 200px; height: auto;">
    </div>
    
    <div class="items-center justify-between hidden gap-12 text-black md:flex">
        <a *ngFor="let navItem of navLinks" [routerLink]="navItem.path" routerLinkActive="router-link-active"  class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" >{{navItem.name}}</a>
        <a *ngIf="this.appstate.AuthState.role=='ADMIN' ||this.appstate.AuthState.role=='STORE_OWNER' " [routerLink]="['dashboard']" routerLinkActive="router-link-active"  class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900" >Dashboard</a>

      </div>
      <div *ngIf="this.appstate.AuthState.isAuthenticated" class="items-center hidden gap-8 md:flex">
        <div class="flex gap-3 items-center">
            <p>Welcome ! {{ this.appstate.AuthState.userId }}</p>  
            <div (click)="handleHidden()" class="h-10 w-10 hover:ring-4 user cursor-pointer relative ring-blue-700/30 rounded-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80')]">    
                <div (mouseleave)="handleHiddenTrue()" [ngClass]="isHidden ? 'hidden' : 'drop-down w-48 overflow-hidden bg-white rounded-md shadow absolute top-12 right-3'">
                    <ul>
                        <li class="px-3 py-3 text-sm font-medium flex items-center space-x-2 hover:bg-slate-400">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                          </span>
                          <span> Setting </span>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>

        <a (click)="HandleLogout()" class="cursor-pointer"> Logout </a>

    </div>
    
    <div *ngIf="this.appstate.AuthState.isAuthenticated==false" class="items-center hidden gap-8 md:flex">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"   class="flex items-center text-sm font-normal text-black">Log In</a>
        <a  [routerLink]="['/register']" routerLinkActive="router-link-active"  class="flex items-center px-4 py-2 text-sm font-bold rounded-xl bg-purple-blue-100 text-purple-blue-600 hover:bg-purple-blue-600 hover:text-white transition duration-300">Sign Up</a> 
    </div>
    

</div>